.header {
  text-align: center;
  margin-top: 20px;
}

.btn {
  font-family: sans-serif;
  font-size: 15px;
  color: #444;
  margin: 5px 15px 5px 15px;
}

.info {
  text-align: center;
  width: 50%;
  margin: 50px auto 50px auto;
  font-family: sans-serif;
  color: #444;
}

form {
  text-align: center;
  margin-top: 50px;
}

input {
  width: 35%;
  height: 60px;
  text-align: center;
}

.screenshot-container {
  width: 50%;
  text-align: center;
  display: inline-block;
  margin-top: 50px;
}

.screenshot-info {
  text-align: center;
}

.screenshot-image {
  width: 550px;
}

.large-screenshot {
  width: 90%;
}

h3, h2 {
  font-family: sans-serif;
  color: #444
}

.loadingPulse {
  color: black;
}

.hidden {
  display: none;
}

.loadingPulse div {
  background-color: black !important;
}
