.header {
  text-align: center;
  margin-top: 20px;
}

.btn {
  font-family: sans-serif;
  font-size: 15px;
  color: #444;
  margin: 5px 15px 5px 15px;
}

.info {
  text-align: center;
  width: 50%;
  margin: 50px auto 50px auto;
  font-family: sans-serif;
  color: #444;
}

form {
  text-align: center;
  margin-top: 50px;
}

input {
  width: 35%;
  height: 60px;
  text-align: center;
}

.screenshot-container {
  width: 45%;
  text-align: center;
  display: inline-block;
}

.screenshot-container:hover {
  border: solid 2px #444;
}

.screenshot-info {
  text-align: center;
}

h3 {
  font-family: sans-serif;
  color: #444;
  font-size: 15px;
}
